* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto;
}

.hero-section {
    background-color:#122937;
    min-width: 550px;
    padding-bottom: 70px;
}

header,
.hero-container,
.images,
.quote-container,
.cta-container {
    margin: auto;
    max-width: 1000px;
}

header {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    column-gap: 150px;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

li {
    min-width: 125px;
}

.header-logo {
    min-width: 140px;
    font-size: 24px;
    font-weight: bold;
    color: #F9F1F8;
}

.secondary-text,
header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary-text {
    max-width: 400px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9fAF8;
    min-width: 305px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.intro {
    margin-right: auto;
}

.cta-container button,
.hero-container button {
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;

}
.hero-container button {
    padding: 5px 15px;
    border: none;
    margin-top: 10px;
}

.hero-image {
    width: 500px;
    min-width: 400px;
    height: 210px;
    background: darkslategray;
}

.hero-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.information-section {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;

}

.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.images > div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}
.images img {
    width: 180px;
    height: 180px;
    border: 2px solid blue;
    border-radius: 20px;
}

.subtext {
    max-width: 150px;
}

.quote-section {
    background: #e5e7eb;
    padding: 120px 20px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 70px;
    line-height: 45px;
    min-width: 550px;
}

.quote-container {
    min-width: 500px;
    padding: 0 25px;
}

.author {
    font-style: normal;
    font-size: 26px;
    text-align: right;
    font-weight: bold;
}

.cta {
    margin-bottom: 70px;
}

.cta-container {
    background-color: #3882F6;
    min-width: 550px;
    color: #f9faf8;
    padding: 50px 100px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-between;
    gap: 10px 50px;
}

.cta-container button {
    font-size: 16px;
    align-self: flex-start;
    border: 2px solid #e5e7eb;
    padding: 5px 25px;
    margin-left: auto;
}

.light-text {
    opacity: 0.5;
}

