* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto;
}

.hero-section {
    border: 1px solid red;
    background-color:#122937;
    min-width: 550px;
    padding-bottom: 70px;
}

header,
.hero-container,
.images {
    width: 70%;
    margin: auto;
    max-width: 1000px;
}

header {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    column-gap: 150px;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

li {
    min-width: 125px;
}

.header-logo {
    min-width: 140px;
    font-size: 24px;
    font-weight: bold;
    color: #F9F1F8;
}

.secondary-text,
header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary-text {
    max-width: 400px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9fAF8;
    min-width: 305px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.intro {
    margin-right: auto;
}
button {
    background-color: #3882F6;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #e5e7eb;
    margin-top: 10px;
}

.hero-image {
    width: 500px;
    min-width: 400px;
    height: 210px;
    background: darkslategray;
}

.hero-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.information-section {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;

}

.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.images > div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}
.images img {
    width: 180px;
    height: 180px;
    border: 2px solid blue;
    border-radius: 20px;
}

.subtext {
    max-width: 150px;
}